In [1]:
print('hello world') # The text Hello, World! is an argument
print('hello',',','world','!')  # it can take multiple arguments, four arguments have been passed
print(len('hello,world!')) # it takes only one argument

hello world
hello , world !
12

In [8]:
# Variables in Python
first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'Finland'
city = 'Helsinki'
age = 25
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
   'firstname':'Asabeneh',
   'lastname':'Yetayeh',
   'country':'Finland',
   'city':'Helsinki'
   }

In [9]:
# Printing the values stored in the variables
print(f'first name : {first_name}')
print(f'last name : {last_name}')
print(f'country name : {country}')
print(f'city name is: {city}')
print(f'age is : {age}')
print(f'married : {is_married}')
print(f'skills : {skills}')
print(f'personal information: {person_info}')

first name : Asabeneh
last name : Yetayeh
country name : Finland
city name is: Helsinki
age is : 25
married : True
skills : ['HTML', 'CSS', 'JS', 'React', 'Python']
personal information: {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [10]:
#Declaring Multiple Variable in a Line
#Multiple variables can also be declared in one line:
first_name,last_name,country,age,is_married= 'mounika','annareddy','india',22,'no'
print(f'first name is: {first_name}')
print(f'last name is {last_name}')
print(f'country is {country}')
print(f'my age is : {age}')
print(f'status of marriage: {is_married}')

first name is: mounika
last name is annareddy
country is india
my age is : 22
status of marriage: no

In [11]:
first_name=input('what is your name')
age=input('how old u are')
print(first_name)
print(age)

mounika
22

In [12]:
# Different python data types
# Let's declare variables with various data types
first_name='mounika'  #str
last_name='annareddy' #str
country='india' #str
city='hyderabad' #str
age=22 #int

# Printing out types
print(type('Asabeneh'))     # str
print(type(first_name))     # str
print(type(10))             # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))     # list
print(type({'name':'Asabeneh','age':250, 'is_married':250}))    # dict
print(type((1,2)))                                              # tuple
print(type(zip([1,2],[3,4])))                                   # set

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

In [22]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
#print(int(num_str))
#print('num_int:', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6

# str to list
first_name = 'Asabeneh'
last_name='mounika'
print(first_name)               # 'Asabeneh'
first_name_to_list = list(first_name)
print(first_name_to_list) 
c=list(last_name)
print(c)           # ['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']

num_int 10
num_float: 10.0
9
10
10
num_float 10.6
Asabeneh
['A', 's', 'a', 'b', 'e', 'n', 'e', 'h']
['m', 'o', 'u', 'n', 'i', 'k', 'a']

In [26]:
#Day2:30days of Python Programming
first_name='mounika'
last_name='Annareddy'
full_name='mounika Annareddy'
country='India'
city='Hyderabad'
age=22
year=2003
is_married=True
is_true=1
is_light_on= 'No'
a,b,c,d,e=1,'2',3+1j,4.0,False

In [29]:
print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light_on))
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>

In [30]:
print(len(first_name))

7

In [37]:
a=len(first_name)==(len(last_name))
print(a)
b=len(first_name)>len(last_name)
print(b)

False
False

In [42]:
num_one=5
num_two=4
print(num_one+num_two)
print(num_one-num_two)
print(num_one*num_two)
reminder=(num_one%num_two)
print(reminder)
division=num_one/num_two
print(division)
exp=num_one**num_two
print(exp)
floor_division=num_one//num_two
print(floor_division)

9
1
20
1
1.25
625
1

In [43]:
#area of circle
r=30
pi=3.14
area_of_circle=pi*r*r
print(f'area of circle is : {area_of_circle}')

area of circle is : 2826.0

In [44]:
#circumferecnce of circle
r=30
pi=3.14
circum_of_circle=4*pi*r*r
print(f'circumference of circle :{circum_of_circle} ')

circumference of circle :11304.0

In [45]:
radius=input('enter a radius')
pi=3.14
area_of_circle=pi*r*r
print(area_of_circle)

2826.0

In [47]:
first_name=input('what is your first name')
last_name=input('what is your last name')
country=input('what is your county name')
age=input('how old you are')
print(first_name)
print(last_name)
print(country)
print(age)

mounika
annaredddy
india
22

In [50]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']